{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechSnap Auto ML</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<style>
    .result{
        background-color:lightblue;
        height:auto;
    }
    .history {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color:black;
    background-color: lightsteelblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }

    .history a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    }

    .history a:hover {
    color: #f1f1f1;
    }

    .history .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
    .history {padding-top: 15px;}
    .history a {font-size: 18px;}
    }
</style>
</head>
<body>
    <div class="container">
        <h1 class="mt-3 text-center">TechSnap Auto ML Tool</h1>
        <div class="col-lg-12 mt-5">
            {% for message in messages %}
            <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            </div>
            {% endfor %}
        </div>
        <div id="historydiv" class="history">
            <a href="javascript:void(0)" class="closebtn" onclick="closeHistory()">&times;</a>
            <h2 class="text-center">History</h2>
          </div>
        <button type="button" class="btn btn-primary" onclick="openHistory()">Show History</button>
        <div class="row">
            <div class="col-lg-6 mt-5">
                {% if selectMl %}
                <form action="{% url 'selectMl' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <select class="custom-select" name="mlval" 
                            style="width:250px;font-size:18px;height:38px;">
                        <option value="Reinforcement">Reinforcement</option>
                        <option value="Unsupervised Learning">Unsupervised Learning</option>
                        <option value="Supervised Learning">Supervised Learning</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="Select ML">
                </form>  

                {% elif uploadfile %}
                <form class="mt-5" action="{% url 'uploadfile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Dataset</label>
                        <input class="form-control" type="file" name="upload_file" id="formFile" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Upload">
                </form>
                {% elif problemType %}
                <form class="mt-5" action="{% url 'problemType' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="custom-select">Select Problem Type</label>
                    <select class="custom-select" name="probval" 
                            style="width:250px;font-size:18px;height:38px;">
                        <option value="Regression">Regression</option>
                        <option value="Classification">Classification</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
                {% elif probType %}
                <h2>Selected : {{probType}} </h2>
                <form class="mt-5" action="{% url 'typeInputs' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="yaxis" class="form-label">Enter "to be predicted" column (y value)</label>
                        <select class="custom-select" name="yaxis" 
                            style="width:250px;font-size:18px;height:38px;">
                        {% for col in columns %}
                        <option value="{{col}}">{{col}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="testsize" class="form-label">Enter Test Size :</label>
                        <input type="text" name="testsize" class="form-control" id="testsize">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Train Test Split">

                </form>
                {% elif showbuttons %}
                <div class="row">
                    <div class="col-lg-3">
                        <form class="mt-5" action="{% url 'xcolumns' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Print X columns">
        
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form class="mt-5" action="{% url 'ycolumns' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Print Y columns">
    
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form class="mt-5" action="{% url 'xtrain' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="X Train Size">
        
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <form class="mt-5" action="{% url 'xtest' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="X Test Size">
        
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form class="mt-5" action="{% url 'ytrain' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Y Train Size">
        
                        </form>
                    </div>
                    <div class="col-lg-3">
                        <form class="mt-5" action="{% url 'ytest' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Y Test Size">
        
                        </form>
                    </div>
                </div>
                <div class="row">
                    <form class="mt-5" action="{% url 'skip' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Skip to Algorithm Implementation">
                    </form>
                </div>
                {% elif Regression %}
                <form class="mt-5" action="{% url 'algoTrain1' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="custom-select">Select Algorithm Type to Implement</label>
                    <select class="custom-select" name="algoval" 
                            style="width:250px;font-size:18px;height:38px;">
                        <option value="linear">linear</option>
                        <option value="decision">decision</option>
                        <option value="Random">Random</option>
                        <option value="svm">svm</option>
                        <option value="knn">knn</option>
                        <option value="ridge">ridge</option>
                    </select>
                    <input type="submit" class="btn btn-primary" name="train" value="Train">
                    <input type="submit" class="btn btn-primary" value="Predict" name="predict" >
                </form>
                {% elif Classification %}
                <form class="mt-5" action="{% url 'algoTrain2' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="custom-select">Select Algorithm Type to Implement</label>
                    <select class="custom-select" name="algoval" 
                            style="width:250px;font-size:18px;height:38px;">
                        <!-- <option value="AdaBoostClassifier">AdaBoostClassifier</option>
                        <option value="GradientBoostingClassifier">GradientBoostingClassifier</option>
                        <option value="BaggingClassifier">BaggingClassifier</option>
                        <option value="ExtraTreesClassifier">ExtraTreesClassifier</option>-->
                        <option value="RandomForestClassifier">RandomForestClassifier</option> 
                        <option value="DecisionTreeClassifier">DecisionTreeClassifier</option>
                        <!-- <option value="KNeighborsClassifier">KNeighborsClassifier</option> -->
                        <option value="Logistics">Logistics</option>
                    </select>
                    <input type="submit" class="btn btn-primary" name="train" value="Train">
                    <input type="submit" class="btn btn-primary" value="Predict" name="predict" >
                </form>

                {% elif checkMetrics1 %}
                <form class="mt-5" action="{% url 'checkMetrics1' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary mb-2" name="mse" value="Mean Squared Error">
                    <input type="submit" class="btn btn-primary mb-2" name="rmse" value="Root Mean Squared Error" >
                    <input type="submit" class="btn btn-primary mb-2" name="mae" value="Mean Absolute Error">
                    <input type="submit" class="btn btn-primary mb-2" name="r2score" value="R2 Score">                    
                </form>
                {% elif checkMetrics2 %}
                <form class="mt-5" action="{% url 'checkMetrics2' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary mb-2" name="F1 Score" value="F1 Score">
                    <input type="submit" class="btn btn-primary mb-2" name="F BetaScore" value="F BetaScore" >
                    <input type="submit" class="btn btn-primary mb-2" name="Log loss" value="Log loss">
                    <input type="submit" class="btn btn-primary mb-2" name="Recall Score" value="Recall Score">                    
                    <input type="submit" class="btn btn-primary mb-2" name="Accuracy Score" value="Accuracy Score" >
                    <input type="submit" class="btn btn-primary mb-2" name="Confusion Matrix" value="Confusion Matrix">
                    <input type="submit" class="btn btn-primary mb-2" name="ROC AUC Score" value="ROC AUC Score">      
                </form>
                {% endif %}
                
                <p></p>
                <hr>
            </div>
            <div class="col-lg-6 result mt-5">
                <h3 class="text-center">Result</h3>
                <p> {{yaxis}}</p>
                <ul>
                    {% for i in xaxis %}
                        <li>{{i}}</li>
                    {% endfor %}
                </ul>
                <p> {{xtrain}} </p>
                <p> {{xtest}} </p>
                <p> {{ytrain}} </p>
                <p> {{ytest}}</p>
                <ul>
                    {% for i in predictval %}
                        <li>{{i}}</li>
                    {% endfor %}
                </ul>
                <p>{{mse}}</p>
                <p>{{rmse}}</p>
                <p>{{mae}}</p>
                <p>{{r2score}}</p>
            </div>
        </div>
    </div>
    <script>
        function openHistory() {
          document.getElementById("historydiv").style.width = "450px";
        }
        
        function closeHistory() {
          document.getElementById("historydiv").style.width = "0";
        }
        </script>
</body>
</html>

{% endblock %}